@media (max-width: 1024px) {
    .heading {
        width: 100%;

        h2 {
            width: 100%;
            padding: 15px;
            text-align: left;
        }
    }

    .main-steps {
        &__item {
            width: 200px;
            height: 200px;

            &:nth-child(1) {
                &::before {
                    top: 0;
                }
            }

            &:nth-child(3) {
                &::before {
                    bottom: 0;
                }
            }

            &:nth-child(5) {
                &::before {
                    top: 0;
                }
            }
        }
    }
}