@media (max-width: 1200px) {
    .header {
        &__burger {
            display: block;
        }

        &.active {
            &::before {
                opacity: 1;
                background: #991d01;
            }
        }

        &__nav {
            position: fixed;
            inset: 76px 0 0 auto;
            width: 100%;
            max-width: 400px;
            height: calc(100% - 76px);
            flex-direction: column;
            background: var(--gradient-header);
            transform: translateX(100%);

            &.active {
                transform: none;
            }
        }

        .menu {
            width: 100%;
            flex-direction: column;
            padding: 0;
            border-radius: 0;
            background: none;

            &>.menu-item {
                width: 100%;

                &:first-child {
                    &>a {
                        border-top: 1px solid var(--grey-text);
                    }
                }

                &>a {
                    width: 100%;
                    padding: 20px 30px;
                    color: var(--white);
                    text-align: left;
                    border-bottom: 1px solid var(--grey-text);
                }

                &>.sub-menu {
                    position: initial;
                    padding: 15px 0;
                    border-radius: 0;
                    border-bottom: 1px solid var(--grey-text);
                    opacity: 1;

                    &>.menu-item {
                        &>a {
                            padding: 20px 30px 20px 50px;
                            color: var(--white);
                        }
                    }
                }
            }
        }

        .container {
            height: 76px;
            padding-top: 15px;
            padding-bottom: 15px;
        }
    }

    section {
        margin-top: 150px;
        margin-bottom: 150px;

        &:first-child {
            margin-top: 150px;
        }

        .container {
            padding-left: 20px;
            padding-right: 20px;
            gap: 40px;
        }
    }

    h1,
    .h1 {
        font-size: 40px;
    }

    h2,
    .h2 {
        font-size: 25px;
    }

    .hero {
        .container {
            min-height: 300px;
        }
    }

    .analytics {
        .hero__title {
            margin: 0;
        }
    }

    .news {
        .hero__title {
            margin: 0;
        }
    }

    .forecasts {
        .hero__title {
            margin: 0;
        }
    }

    .main-advantages {
        &__list {
            grid-template-columns: repeat(3, 1fr);
        }

        &__item {
            min-height: 300px;

            &.custom {
                grid-column: span 3;
            }

            &:nth-child(4) {
                grid-row: 1;
            }
        }
    }

    .table-border {
        width: 100%;
    }

    .table-black {
        overflow: clip;
    }

    table {
        min-width: 940px;
        width: 100%;

        th {
            padding: 30px 20px 20px;

            .btn {
                padding: 20px;
            }
        }

        td {
            padding: 20px;
        }
    }

    .table-overflow {
        overflow: auto;
    }

    .footer {
        &__info {
            gap: 50px;
        }

        &__container {
            grid-template-columns: 1fr;
            gap: 50px;
            margin-bottom: 50px;
        }

        &__nav {
            gap: 50px;
        }

        .menu {
            gap: 50px;
        }
    }

    .main-form {
        &__container {
            padding: 50px;
            gap: 50px;
        }
    }

    .banner-1 {
        &__container {
            padding: 40px;
            gap: 40px;
        }
    }

    .swiper-platform {
        width: calc(100% + 40px);
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;

        &__pagination {
            display: flex;
        }
    }

    .main-rate {
        &__item {
            width: 265px;
        }
    }

    .forecasts {
        .hero {
            .container {
                padding-top: 35px;
            }
        }
    }

    .about {
        .hero {
            .container {
                margin-bottom: 0;
            }
        }
    }

    .about-story {
        .container {
            gap: 40px;
        }
    }
}