@media (max-width: 600px) {
    .main-advantages {
        &__list {
            grid-template-columns: 1fr;
        }

        &__item {
            &.custom {
                grid-column: initial;
            }
        }
    }

    .banner-1 {
        &__container {
            grid-template-columns: 1fr;
        }

        picture {
            max-width: 320px;
            margin: auto;
        }
    }

    .btn {
        &--arrow {
            grid-template-columns: 1fr 50px;

            span {
                height: 50px;
                align-items: center;
                padding: 20px;
            }
        }
    }

    .platform-personal {
        &__box {
            grid-template-columns: 1fr;
        }
    }

    .main-form {
        form {
            input {
                &[type=submit] {
                    padding: 20px;
                }
            }
        }
    }
}