@media (max-width: 700px) {
    .swiper1 {
        .swiper-slide {
            min-height: 300px;
            padding: 20px;
        }
    }

    .swiper2 {
        .swiper-slide {
            min-height: 300px;
            padding: 20px;
        }
    }
}