@import '../../node_modules/normalize.css/normalize';
@import '../../node_modules/swiper/swiper-bundle';
@import '../scss/keyframes';

:root {
    --black: #000;
    --red: #FF2F01;
    --grey-text: #A19A99;
    --white: #fff;
    --bg-waves-gradient: radial-gradient(49.97% 49.98% at 50% 50.13%, #ED2C00 0%, #BA2200 14%, #821800 30%, #530F00 47%, #2F0800 62%, #150300 77%, #050100 90%, #000000 100%);
    --border-gradient: #FF2F0133;
    --gradient-opacity: linear-gradient(30.14deg, rgba(255, 47, 1, 0.24) 46.92%, rgba(0, 0, 0, 0) 137.72%, rgba(255, 47, 1, 0.16) 137.72%);
    --gradient: linear-gradient(201.99deg, rgba(255, 47, 1, 0.6) 25.16%, #000000 88.91%, rgba(255, 47, 1, 0.4) 150%);
    --gradient-header: linear-gradient(201.99deg, #991d01 25.16%, #000000 88.91%, #991d01 150%);
    --gradient-opacity-header: linear-gradient(30.14deg, #3d0c01 46.92%, #290901 137.72%, #3d0c01 137.72%);
    --transition: .3s ease-in-out all;
}

//отключение всех анимаций
* {
    animation: none !important;

    &::before,
    &::after {
        animation: none !important;
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Manrope', sans-serif;
    transition: var(--transition);
    scrollbar-width: thin;
    scrollbar-color: var(--red) var(--black);

    &::-webkit-scrollbar {
        height: 12px;
        width: 12px;
    }

    &::-webkit-scrollbar-track {
        background: var(--black);
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--red);
        border-radius: 5px;
        border: 3px solid var(--black);
    }
}

.upButton {
    z-index: 1000;
    position: fixed;
    width: 40px;
    height: 40px;
    bottom: 20px;
    right: 15px;
    cursor: pointer;
    transition: all .2s ease-in-out;
    transform: scale(0);
    pointer-events: none;
    background: var(--red) url(../images/up-btn-white.svg) center / 20px no-repeat;
    border-radius: 50%;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.2);

    &.show {
        transition: all 1s ease-in-out;
        transform: scale(1);
        pointer-events: all;
    }
}

.cookies {
    display: none;
    position: fixed;
    z-index: 10;
    bottom: 40px;
    left: 40px;
    right: 40px;
    margin-left: auto;
    max-width: 450px;
    gap: 20px;
    align-items: start;
    background: #333333;
    padding: 25px;
    border-radius: 5px;
    background: #3d0b00;

    p {
        font-size: 16px;
        color: var(--white);
    }

    a {
        color: var(--white);
    }

    .btn {
        margin-top: 10px;
        padding: 10px 30px;
        font-size: 14px;
    }
}

h1,
.h1 {
    margin: 0;
    font-family: Inter;
    font-size: 60px;
    line-height: 110%;
    font-weight: 400;
    color: var(--white);
}

img {
    max-width: 100%;
}

h2,
.h2 {
    margin: 0;
    font-family: Inter;
    font-weight: 400;
    font-size: 30px;
    line-height: 100%;
    color: var(--white);
}

h3,
.h3 {
    margin: 0;
    font-family: Inter;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    color: var(--white);
}

.text,
p {
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: var(--grey-text);
}

.caps {
    text-transform: uppercase;
}

.container {
    max-width: calc(1200px + 60px);
    margin: auto;
    padding-left: 30px;
    padding-right: 30px;
}

section {
    position: relative;
    margin-top: 240px;
    margin-bottom: 240px;

    &:first-child {
        margin-top: 260px;
    }

    .container {
        display: flex;
        flex-direction: column;
        gap: 100px;
        align-items: center;
    }
}

html {
    overflow-x: hidden;
}

body {
    min-width: 390px;
    background: var(--black);
    color: var(--grey-text);
    overflow-x: hidden;
}

.header {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    &::before {
        content: '';
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        background: var(--gradient-header);
        opacity: 0;
        transition: var(--transition);
    }

    &.scrolled {
        &::before {
            opacity: 1;
        }

        .container {
            height: calc(46px + 30px);
            padding-top: 15px;
            padding-bottom: 15px;
        }
    }

    &__burger {
        position: relative;
        display: none;
        width: 30px;
        height: 30px;
        background: url(../images/burger.svg) center / contain no-repeat;
        border: none;
    }

    .container {
        display: flex;
        align-items: center;
        gap: 20px;
        justify-content: space-between;
        height: 126px;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    &__logo {
        position: relative;
        font-family: Inter;
        font-weight: 700;
        font-size: 30px;
        line-height: 100%;
        letter-spacing: -4%;
        color: var(--red);
        text-decoration: none;
    }

    &__nav {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .menu {
        position: relative;
        display: flex;
        align-items: center;
        padding: 0px 5px;
        list-style: none;
        background: var(--gradient-opacity-header);
        border-radius: 15px;

        &.first {
            border-radius: 15px 15px 15px 0;
        }

        &.last {
            border-radius: 15px 15px 0 15px;
        }

        &.active {
            border-radius: 15px;
        }

        &>.menu-item {
            position: relative;

            &:last-child {
                &>.sub-menu {
                    left: auto;
                    right: -5px;
                }
            }

            &.active {
                &>.sub-menu {
                    opacity: 1;
                }
            }

            &>a {
                display: block;
                padding: 15px 10px;
                font-family: Inter;
                font-weight: 400;
                font-size: 16px;
                line-height: 100%;
                letter-spacing: 0%;
                color: var(--grey-text);
                text-align: center;
                text-transform: uppercase;
                text-decoration: none;
            }

            &>.sub-menu {
                position: absolute;
                top: 100%;
                left: -5px;
                display: grid;
                padding: 10px 0;
                background: var(--gradient-opacity-header);
                border-radius: 0 0 15px 15px;
                list-style: none;
                transition: none;
                opacity: 0;

                &>.menu-item {
                    &>a {
                        display: block;
                        padding: 10px 15px;
                        color: var(--grey-text);
                        text-decoration: none;
                        white-space: nowrap;
                        text-transform: uppercase;
                    }
                }
            }
        }
    }

    .btn {
        position: relative;
        display: grid;
        grid-template-columns: 1fr 46px;
        gap: 5px;
        padding: 0;
        background: none;
        border-radius: 0;

        span {
            padding: 15px 60px;
            background: var(--red);
            border-radius: 15px;
        }

        &::after {
            content: "";
            display: block;
            background: url(../images/arrow-btn.svg) center / contain no-repeat;
            border-radius: 50%;
        }
    }
}

.btn {
    display: inline-block;
    background: var(--red);
    color: var(--white);
    padding: 30px;
    text-decoration: none;
    border-radius: 20px;
    text-align: center;
    border: none;
    cursor: pointer;
    text-transform: uppercase;

    &--center {
        display: grid;
        grid-template-columns: 76px 445px 76px;
        gap: 20px;
        padding: 0;
        background: none;

        &::before {
            content: '';
            display: block;
        }

        span {
            padding: 30px;
            background: var(--red);
            border-radius: 20px;
            color: var(--white);
            font-family: Inter;
            font-weight: 400;
            font-size: 16px;
            line-height: 100%;
            letter-spacing: 0%;
            text-align: center;
            text-transform: uppercase;
        }

        &::after {
            content: '';
            display: block;
            background: url(../images/arrow-btn.svg) center / contain no-repeat;
            border-radius: 50%;
        }
    }

    &--arrow {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 76px;
        gap: 20px;
        padding: 0;
        background: none;
        border-radius: 0;

        span {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 30px;
            border-radius: 20px;
            background: var(--red);
            text-transform: uppercase;
        }

        &::after {
            content: '';
            display: block;
            background: url(../images/arrow-btn.svg) center / contain no-repeat;
            border-radius: 50%;
        }
    }

    &--grid {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        padding: 30px 70px;
        width: 100%;
        max-width: 385px;
        text-transform: uppercase;
        font-size: 16px;
        line-height: 100%;
        color: var(--white);
        font-weight: 400;
        white-space: nowrap;

        &::after {
            content: '';
            display: block;
            width: 14px;
            height: 15px;
            flex: 0 0 auto;
            background: url(../images/btn-arrow.svg) center / contain no-repeat;
        }
    }
}

.hero {
    &::before {
        z-index: -1;
        content: '';
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        background: url(../images/main-hero-bg.avif) center / contain no-repeat;
        animation: rotate3d 6s ease-in-out infinite;
    }

    .container {
        min-height: 560px;
        padding-top: 35px;
        padding-bottom: 35px;
        text-align: center;
    }
}

.heading {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;

    h2 {
        padding: 15px 100px;
        border-radius: 15px;
        background: var(--gradient-opacity);
        text-transform: uppercase;
    }
}

.main {
    .hero {
        h1 {
            max-width: 760px;
        }
    }
}

.main-advantages {
    &::before {
        z-index: -2;
        position: absolute;
        content: '';
        inset: 0;
        width: 100%;
        height: 100%;
        background: url(../images/section-bg.avif) center / 100% 100% no-repeat;
        animation: matrix 20s ease-in-out infinite;
    }

    &__list {
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(4, 1fr);
    }

    &__item {
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: end;
        align-items: center;
        padding: 40px;
        border-radius: 20px;
        background: var(--gradient);
        text-align: center;

        background-size: 150% 200%;
        animation: gradient 3s ease-in-out infinite;

        &.custom {
            grid-column: span 2;
            align-items: start;
            text-align: left;

            p {
                &.caps {
                    margin: 0;
                }
            }
        }

        img {
            margin-bottom: 20px;
            width: 100%;
            height: 100px;
            object-fit: contain;
        }

        p {
            &.caps {
                margin: 0px -25px;
                color: var(--white);

                &+p {
                    min-height: 48px;
                }
            }
        }
    }
}

.main-platform {
    &__list {
        width: 100%;
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(3, 1fr);
    }

    &__item {
        display: flex;
        flex-direction: column;
        gap: 40px;

        h3 {
            margin-bottom: 20px;
        }

        &:nth-child(1) {
            p {
                max-width: 240px;
            }
        }

        &:nth-child(2) {
            p {
                max-width: 300px;
            }
        }
    }

    picture {
        height: 500px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--gradient);
        border-radius: 20px;
        border: 1px solid #991c01;

        background-size: 150% 200%;
        animation: gradient 3s ease-in-out infinite;

        img {
            display: block;
        }
    }
}

.main-rate {
    &__container {
        width: 100%;
        padding: 30px 70px;
        border-radius: 20px;
        background: var(--gradient-opacity);
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        align-items: center;
    }

    &__item {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        align-items: center;
        padding: 0px 30px;

        &:not(:last-child) {
            border-right: 1px solid var(--white);
        }

        &:first-child {
            padding-left: 0;
        }

        &:last-child {
            padding-right: 0;
        }
    }

    &__left {
        display: grid;
        grid-template-columns: 36px 1fr;
        column-gap: 10px;
        row-gap: 5px;
        align-items: center;

        img {
            grid-row: span 2;
        }
    }

    &__right {
        display: grid;
        row-gap: 5px;
    }

    &__title {
        color: var(--white);
    }

    &__heading {
        text-transform: uppercase;
    }

    &__amound {
        color: var(--white);
    }

    &__rate {
        &.green {
            color: #00E1AA;
        }

        &.red {
            color: var(--red);
        }
    }
}

.main-steps {
    &::before {
        z-index: -2;
        position: absolute;
        content: '';
        inset: 0;
        width: 100%;
        height: 100%;
        background: url(../images/section-bg.avif) center / 100% 100% no-repeat;
        animation: matrix 20s ease-in-out infinite;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }

    &__item {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 280px;
        height: 280px;
        border-radius: 50%;
        background: var(--gradient);

        p {
            max-width: 220px;
            margin: auto;
            text-align: center;
            color: var(--white)
        }

        &::before {
            position: absolute;
            padding: 10px 20px;
            font-size: 30px;
            line-height: 100%;
            font-weight: 400;
            text-transform: uppercase;
            color: var(--white);
            background: var(--red);
            border-radius: 20px;
        }

        &:nth-child(1) {
            &::before {
                content: '01';
                left: 0;
                top: 40px;
                rotate: -10deg;
            }
        }

        &:nth-child(3) {
            &::before {
                content: '02';
                left: 20px;
                bottom: 18px;
                rotate: 10deg;
            }
        }

        &:nth-child(5) {
            &::before {
                content: '03';
                left: 0;
                top: 40px;
                rotate: -10deg;
            }
        }
    }

    &__arrow-bottom {
        background: url(../images/main-steps-arrow-bottom.svg) center bottom / contain no-repeat;
        animation: swing 3s ease-in-out infinite;
    }

    &__arrow-top {
        background: url(../images/main-steps-arrow-top.svg) center top / contain no-repeat;
        animation: swing 3s ease-in-out infinite;
    }
}

.table-border {
    padding: 1px;
    background: #FFFFFF33;
    border-radius: 20px;
}

.table-black {
    background: var(--black);
    border-radius: 20px;
}

table {
    width: 100%;
    table-layout: fixed;
    border-radius: 20px;
    border: 1px solid #FFFFFF33;
    border-collapse: collapse;
    overflow: clip;
    background: var(--gradient);

    background-size: 150% 200%;
    animation: gradient 3s ease-in-out infinite;

    th {
        padding: 60px 40px 40px;
        text-align: center;
        vertical-align: top;
        border: 1px solid #FFFFFF33;

        &:first-child {
            text-align: left;

            p {
                max-width: 185px;
            }
        }

        .btn {
            width: 100%;
        }
    }

    td {
        padding: 40px;
        text-align: center;
        border: 1px solid #FFFFFF33;
        color: var(--white);

        &:first-child {
            text-align: left;
        }

        &[colspan='2'],
        &[colspan='3'] {
            text-align: left;
        }
    }

    h3 {
        margin-top: 0;
        margin-bottom: 30px;
        text-transform: uppercase;
    }
}

.swiper1 {
    width: 100%;
    background: url(../images/swiper1-bg.avif) center top 150px / cover no-repeat;
    border-radius: 20px;

    &-pagination {
        width: auto;
        display: flex;
        gap: 10px;
        justify-content: center;
        align-items: center;

        .swiper-pagination-bullet {
            width: 30px;
            height: 3px;
            margin: 0 !important;
            background: var(--grey-text);
            border-radius: 0;

            &_active {
                background: var(--white);
            }
        }
    }

    &__shadow {
        position: absolute;
        width: 20px;
        height: 100%;
        top: 0;
        right: -20px;
        background: var(--black);

        &::before {
            content: '';
            position: absolute;
            bottom: 0;
            right: -30px;
            width: 30px;
            height: 30px;
            background-image: radial-gradient(circle at top right, transparent 70%, var(--black) 0%);
        }

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: -30px;
            width: 30px;
            height: 30px;
            background-image: radial-gradient(circle at top left, transparent 70%, var(--black) 0%);
        }
    }

    .swiper-slide {
        position: relative;
        min-height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 40px;
        align-items: start;
        padding: 40px;
        border-radius: 20px;
        background: var(--gradient);
        background-size: 150% 200%;
        animation: gradient 3s ease-in-out infinite;

        p {
            color: var(--white);
        }
    }

    &__author {
        display: flex;
        gap: 10px;
        align-items: center;
    }
}

.banner-1 {
    &__container {
        display: grid;
        gap: 105px;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        padding: 40px 100px;
        border-radius: 20px;
        background: var(--gradient);
        background-size: 160% 150%;
        animation: gradient 3s ease-in-out infinite;
    }

    &__box {
        display: flex;
        gap: 40px;
        flex-direction: column;
        justify-content: center;
        align-items: start;
    }

    picture {
        display: block;

        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}

.main-form {
    &__container {
        width: 100%;
        position: relative;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;
        row-gap: 40px;
        align-items: start;
        padding: 110px 100px;
        border-radius: 20px;
        background: var(--gradient);
        background-size: 160% 150%;
        animation: gradient 3s ease-in-out infinite;
        overflow: clip;

        &::before {
            z-index: -1;
            position: absolute;
            content: '';
            inset: 0;
            width: 100%;
            height: 100%;
            border-radius: 20px;
            background: url(../images/swiper1-bg.avif) center top 150px / cover no-repeat;
            animation: matrix 20s ease-in-out infinite;
        }
    }

    &__map {
        iframe {
            border-radius: 20px;
        }
    }

    .h2 {
        margin-bottom: 20px;
    }

    &__title {
        grid-column: span 2;

        h3 {
            max-width: 680px;
            margin: auto;
            text-align: center;
        }
    }

    &__info {
        display: grid;
        grid-template-columns: 70px 1fr;
        gap: 20px;
        margin-top: 40px;

        a {
            color: var(--white);
            text-decoration: none;
        }

        address {
            color: var(--white);
            font-style: initial;
        }
    }

    form {
        display: flex;
        gap: 20px;
        flex-direction: column;
        align-items: start;
        justify-content: start;

        p {
            width: 100%;

            a {
                color: var(--grey-text);
            }
        }

        input {
            width: 100%;
            padding: 15px 40px;
            height: 46px;
            border: none;
            background: var(--white);
            border-radius: 15px;
            font-size: 16px;
            line-height: 100%;
            font-weight: 400;
            color: var(--black);

            &::placeholder {
                color: var(--grey-text);
            }

            &[type="submit"] {
                width: 100%;
                height: auto;
                margin-top: 20px;
                padding: 30px;
                border-radius: 20px;
                background: var(--red);
                color: var(--white);
                text-transform: uppercase;
                cursor: pointer;
            }
        }

        textarea {
            width: 100%;
            padding: 15px 40px;
            border: none;
            background: var(--white);
            border-radius: 15px;
            font-size: 16px;
            line-height: 100%;
            font-weight: 400;
            resize: none;
            color: var(--black);

            &::placeholder {
                color: var(--grey-text);
            }
        }
    }
}

.form-submit {
    position: relative;
    width: 100%;
}

.footer {
    .container {
        padding-bottom: 100px;
    }

    &__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: start;
        margin-bottom: 60px;
    }

    &__logo {
        font-family: Inter;
        font-weight: 700;
        font-size: 30px;
        line-height: 100%;
        color: var(--red);
        text-decoration: none;
    }

    &__info {
        display: flex;
        gap: 60px;
        flex-direction: column;
        align-items: start;
        justify-content: space-between;
    }

    .btn {
        display: grid;
        grid-template-columns: 1fr 46px;
        gap: 5px;
        margin-bottom: 20px;
        padding: 0;
        background: none;
        border-radius: 0;

        span {
            padding: 15px 60px;
            background: var(--red);
            border-radius: 15px;
        }

        &::after {
            content: "";
            display: block;
            background: url(../images/arrow-btn.svg) center / contain no-repeat;
            border-radius: 50%;
        }
    }

    &__icons {
        display: flex;
        gap: 20px;
        align-items: center;
    }

    &__contacts {
        display: grid;
        grid-template-columns: 60px 1fr;
        gap: 20px;

        a {
            color: var(--grey-text);
            text-decoration: none;
            text-transform: uppercase;
        }
    }

    &__nav {
        display: flex;
        gap: 80px;
    }

    .menu {
        display: flex;
        gap: 80px;
        list-style: none;

        &>.menu-item {
            display: flex;
            flex-direction: column;
            gap: 20px;
            align-items: start;

            &>a {
                font-weight: 700;
                color: var(--white);
                text-decoration: none;
                white-space: nowrap;
                text-transform: uppercase;
            }

            &>.sub-menu {
                display: flex;
                flex-direction: column;
                gap: 15px;
                align-items: start;
                list-style: none;

                &>.menu-item {
                    &>a {
                        color: var(--grey-text);
                        text-decoration: none;
                        white-space: nowrap;
                        text-transform: uppercase;
                    }
                }
            }
        }
    }

    .copyright {
        margin-top: 25px;
        text-align: center;
    }
}

.platform {
    .hero {
        h1 {
            max-width: 680px;
        }
    }
}

.platform-hero {
    &::before {
        z-index: -1;
        content: '';
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        background: url(../images/main-hero-bg.avif) center / contain no-repeat;
        animation: rotate3d 6s ease-in-out infinite;
    }

    .container {
        text-align: center;
        padding-top: 35px;
        padding-bottom: 35px;
    }

    &__box {
        display: grid;
        gap: 20px;
        justify-content: center;
        justify-items: center;
    }

    h1 {
        max-width: 650px;
    }
}

.platform-advantages {
    &::before {
        z-index: -2;
        position: absolute;
        content: '';
        inset: 0;
        width: 100%;
        height: 100%;
        background: url(../images/section-bg.avif) center / 100% 100% no-repeat;
        animation: matrix 20s ease-in-out infinite;
    }

    &__list {
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(4, 1fr);
    }

    &__item {
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: end;
        align-items: center;
        padding: 40px;
        border-radius: 20px;
        background: var(--gradient);
        text-align: center;

        background-size: 150% 200%;
        animation: gradient 3s ease-in-out infinite;

        &.custom {
            grid-column: span 2;
            align-items: start;
            text-align: left;

            p {
                &.caps {
                    margin: 0;
                }
            }
        }

        img {
            margin-bottom: 20px;
            width: 100%;
            height: 100px;
            object-fit: contain;
        }

        p {
            &.caps {
                margin: 0px -25px;
                color: var(--white);

                &+p {
                    min-height: 65px;
                }
            }
        }
    }
}

.platform-device {
    &::before {
        z-index: -2;
        position: absolute;
        content: "";
        inset: 0;
        width: 100%;
        height: 100%;
        background: url(../images/section-bg.avif) center bottom 200px / contain no-repeat;
        animation: matrix 20s ease-in-out infinite;
    }

    &::after {
        z-index: -1;
        position: absolute;
        content: '';
        max-width: 650px;
        width: 50%;
        height: 50%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: var(--red);
        border-radius: 50%;
        filter: blur(150px);
        opacity: 0.5;
    }

    &__top {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        text-align: center;

        p {
            max-width: 790px;
            color: var(--white);
        }
    }

    &__desktop {
        display: grid;
        grid-template-columns: 525px 1fr;
        gap: 20px;
        align-items: center;

        &>div {
            display: grid;
            gap: 40px;
            justify-items: start;
        }
    }

    &__mobile {
        width: 100%;
        display: grid;
        grid-template-columns: 510px 375px;
        gap: 20px;
        justify-content: space-between;
        align-items: center;

        &>div {
            display: grid;
            gap: 40px;
            justify-items: start;

            p {
                max-width: 460px;
            }
        }
    }
}

.platform-personal {
    &__box {
        position: relative;
        display: grid;
        gap: 20px;
        grid-template-columns: 1fr 490px;
        align-items: center;

        &::before {
            z-index: -1;
            position: absolute;
            content: '';
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 70%;
            height: 50%;
            background: var(--red);
            border-radius: 50%;
            filter: blur(100px);
        }

        &>div {
            display: grid;
            gap: 40px;
        }
    }

    .btn {
        max-width: 100%;
    }
}

.swiper2 {
    width: 100%;
    border-radius: 20px;

    &-pagination {
        width: auto;
        display: flex;
        gap: 10px;
        justify-content: center;
        align-items: center;

        .swiper-pagination-bullet {
            width: 30px;
            height: 3px;
            margin: 0 !important;
            background: var(--grey-text);
            border-radius: 0;

            &_active {
                background: var(--white);
            }
        }
    }

    .swiper-slide {
        position: relative;
        min-height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 40px;
        align-items: start;
        padding: 40px;
        border-radius: 20px;
        background: var(--gradient);
        background-size: 150% 200%;
        animation: gradient 3s ease-in-out infinite;

        p {
            color: var(--white);
        }
    }

    &__author {
        display: flex;
        gap: 10px;
        align-items: center;
    }
}

.terms {
    .main-plans {
        &::before {
            z-index: -2;
            position: absolute;
            content: "";
            inset: 0;
            width: 100%;
            height: 100%;
            background: url(../images/section-bg.avif) center / 100% 100% no-repeat;
            -webkit-animation: matrix 20s ease-in-out infinite;
            animation: matrix 20s ease-in-out infinite;
        }
    }
}

.terms-hero {
    &::before {
        z-index: -1;
        content: '';
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        background: url(../images/main-hero-bg.avif) center / contain no-repeat;
        animation: rotate3d 6s ease-in-out infinite;
    }

    .container {
        text-align: center;
        padding-top: 35px;
        padding-bottom: 35px;
    }
}

.terms-table {
    &::before {
        z-index: -2;
        position: absolute;
        content: "";
        inset: 0;
        width: 100%;
        height: 100%;
        background: url(../images/section-bg.avif) center / 100% 100% no-repeat;
        animation: matrix 20s ease-in-out infinite;
    }
}

.instruments {
    .hero {
        h1 {
            max-width: 750px;
        }
    }
}

.instruments-strategy {
    &::before {
        z-index: -2;
        position: absolute;
        content: "";
        inset: 0;
        width: 100%;
        height: 100%;
        background: url(../images/section-bg.avif) center / 100% 100% no-repeat;
        -webkit-animation: matrix 20s ease-in-out infinite;
        animation: matrix 20s ease-in-out infinite;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 20px;
    }

    &__item {
        min-height: 450px;
        display: grid;
        gap: 40px;
        padding: 40px;
        grid-column: span 2;
        border-radius: 20px;
        background: var(--gradient);
        background-size: 150% 200%;
        animation: gradient 3s ease-in-out infinite;

        &:nth-child(4) {
            grid-column: 2/4;
        }

        img {
            width: 100%;
        }
    }

    &__heading {
        margin-bottom: 20px;
        color: var(--white);
        font-weight: 700;
        text-transform: uppercase;
    }

    ul {
        display: grid;
        gap: 5px;
        list-style: none;

        li {
            padding: 5px 10px;
            color: var(--white);
            font-size: 12px;
            line-height: 100%;
            font-weight: 400;
            font-family: Inter;
            background: var(--gradient-opacity);
            border-radius: 20px;
        }
    }
}

.widget-box {
    width: 100%;
    padding: 20px;
    border-radius: 20px;
    background: var(--gradient);
    background-size: 150% 200%;
    animation: gradient 3s ease-in-out infinite;

    table {
        border: initial;
        border-radius: 0;
        background: none;
    }

    &--decor {
        position: relative;
        width: auto;
        padding: 60px 20px 20px;

        &::before {
            position: absolute;
            content: '';
            top: 24px;
            left: 44px;
            width: 52px;
            height: 12px;
            background: url(../images/widget-box-left.svg) center / contain no-repeat;
        }

        &::after {
            position: absolute;
            content: '';
            top: 20px;
            right: 44px;
            width: 60px;
            height: 20px;
            background: url(../images/widget-box-right.svg) center / contain no-repeat;
        }
    }
}

.overview {
    .hero {
        h1 {
            max-width: 915px;
        }

        &__info {
            max-width: 510px;
        }
    }
}

.overview-monitoring {
    .container {
        gap: 40px;
    }

    .heading {
        margin-bottom: -20px;

        &+p {
            max-width: 445px;
            text-align: center;
        }
    }
}

.overview-quotes {
    .container {
        gap: 40px;
    }

    .widget-box {
        width: 100%;
    }

    .heading {
        margin-bottom: -20px;

        &+p {
            max-width: 445px;
            text-align: center;
        }
    }
}

.overview-leaders {
    .container {
        gap: 40px;
    }

    .heading {
        margin-bottom: -20px;
    }
}

.overview-charts {
    .container {
        gap: 40px;
    }

    .widget-box {
        width: 100%;
    }

    .heading {
        margin-bottom: -20px;

        &+p {
            max-width: 445px;
            text-align: center;
        }
    }
}

.analytics {
    .hero {
        &__title {
            margin-top: -80px;
            max-width: 915px;
        }

        &__info {
            max-width: 760px;
        }
    }
}

.analytics-tool {
    &__list {
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(4, 1fr);
    }

    &__item {
        display: grid;
        gap: 40px;
        justify-items: center;
        padding: 40px 30px;
        text-align: center;
        border-radius: 20px;
        background: var(--gradient);
        background-size: 160% 150%;
        animation: gradient 3s ease-in-out infinite;
    }

    img {
        width: 100%;
        height: 100px;
        object-fit: contain
    }

    &__widget {
        display: grid;
        grid-template-columns: 1fr 365px 1fr;
        gap: 20px;
        align-items: center;
    }

    &__content {
        display: grid;
        gap: 20px;
    }
}

.analytics-basics {
    &__list {
        display: grid;
        gap: 20px;
        width: 100%;
        list-style: none;

        li {
            position: relative;
            padding: 40px 180px 40px 40px;
            border-radius: 16px;
            background: var(--gradient);
            background-size: 160% 150%;
            animation: gradient 3s ease-in-out infinite;
            cursor: pointer;

            h3,
            p {
                position: relative;
            }

            &::before {
                position: absolute;
                content: '';
                inset: 0;
                width: 100%;
                height: 100%;
                border-radius: 16px;
                background: var(--red);
                opacity: 0;
                transition: var(--transition);
            }

            &::after {
                content: '';
                position: absolute;
                top: 50%;
                right: 40px;
                width: 36px;
                height: 36px;
                transform: translateY(-50%);
                background: url(../images/accordion-arrow.svg) center / contain no-repeat;
                transition: var(--transition);
                box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, .2);
                border-radius: 50px;
            }

            &.active {
                &::after {
                    transform: translateY(-50%) rotate(180deg);
                }
            }
        }
    }

    .answer {
        margin-top: 20px;
        transition: none;
    }
}

.news {
    .hero {
        &__title {
            margin-top: -80px;
            max-width: 560px
        }

        &__info {
            max-width: 700px;
        }
    }

    .widget-box {
        width: 100%;
    }
}

.exclusive-news {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 400px;
    justify-content: space-between;
    gap: 40px;
    padding: 40px;
    border-radius: 20px;
    background: var(--gradient-opacity);
    background-size: 160% 150%;
    animation: gradient 3s ease-in-out infinite;
    overflow: clip;

    h3 {
        position: relative;
        max-width: 515px;
        margin-bottom: 20px;

        &+p {
            position: relative;
            color: var(--white);
        }
    }

    &::before {
        content: '';
        position: absolute;
        width: 50%;
        height: 50%;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        background: var(--red);
        border-radius: 50%;
        filter: blur(40px);
    }
}

.forecasts {
    .hero {
        .container {
            padding-top: 115px;
        }

        &__title {
            margin-top: -80px;
        }

        &__info {
            max-width: 700px;
        }
    }

    .widget-box {
        width: 100%;
    }
}

.about {
    .hero {
        .container {
            padding-top: 100px;
            margin-bottom: -180px;
        }

        &__title {
            max-width: 500px;
        }
    }
}

.about-story {
    .container {
        gap: 65px;
    }

    &__list {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 20px;
    }

    &__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        align-items: center;
    }

    &__box {
        display: grid;
        gap: 20px;
        padding: 40px;
        border-radius: 20px;
        background: var(--gradient);
        text-align: center;
        background-size: 150% 200%;
        animation: gradient 3s ease-in-out infinite;

        p {
            color: var(--white);
            text-align: left;

            &.h3 {
                display: grid;
                grid-template-columns: 10px 1fr;
                gap: 10px;
                max-width: 230px;
                padding: 20px 0;

                &::before {
                    content: '';
                    margin: -20px 0;
                    background: var(--gradient-opacity);
                }
            }
        }
    }

    picture {
        img {
            border-radius: 20px;
        }
    }

    &__item {
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: center;
        padding: 40px;
        grid-column: span 2;
        border-radius: 20px;
        background: var(--gradient);
        text-align: center;
        background-size: 150% 200%;
        animation: gradient 3s ease-in-out infinite;

        &:nth-child(4),
        &:nth-child(5) {
            grid-column: span 3;
        }
    }
}

.error {
    .hero {
        .container {
            padding-top: 100px;
        }
    }

    .main-form {
        .heading {
            width: 100%;

            h2 {
                width: 100%;
                text-align: center;
            }
        }
    }
}

.contacts {
    .hero {
        &::before {
            background-position: center top;
        }

        .container {
            padding-top: 95px;
            gap: 20px;
        }

        &__title {
            max-width: 450px;
        }

        &__box {
            padding: 20px;
            border-radius: 20px;
            background: var(--gradient);
            background-size: 160% 150%;
            animation: gradient 3s ease-in-out infinite;
        }

        img {
            border-radius: 10px;
        }
    }
}

.calendar {
    .hero {
        h1 {
            max-width: 750px;
        }

        &__info {
            max-width: 760px;
        }
    }
}

@import '../scss/hovers';
@import '../scss/1800';
@import '../scss/1700';
@import '../scss/1600';
@import '../scss/1500';
@import '../scss/1400';
@import '../scss/1300';
@import '../scss/1200';
@import '../scss/1024';
@import '../scss/992';
@import '../scss/900';
@import '../scss/768';
@import '../scss/700';
@import '../scss/600';
@import '../scss/500';
@import '../scss/360';