<section class="main-advantages">
    <div class="container">
        <div class="heading">
            <div class="h1">01</div>
            <h2>Discover Key Advantages for Our Traders</h2>
        </div>

        <div class="main-advantages__list">
            <div class="main-advantages__item">
                <img src="images/main-advantages-item-1.svg" alt="">
                <p class="caps">Trading with no boundaries</p>
                <p>Low commissions and no hidden fees</p>
            </div>

            <div class="main-advantages__item">
                <img src="images/main-advantages-item-2.svg" alt="">
                <p class="caps">absolute security</p>
                <p>Your funds are protected in segregated accounts</p>
            </div>

            <div class="main-advantages__item custom">
                <p class="caps">Innovative platform for successful trading</p>
                <p>A user-friendly interface, powerful analytical tools, and 24/7 support will help you trade confidently. Our low commissions and transparent terms make trading accessible to everyone</p>
            </div>

            <div class="main-advantages__item">
                <img src="images/main-advantages-item-4.svg" alt="">
                <p class="caps">Always available</p>
                <p>More than 80 available countries and support of multiple currencies</p>
            </div>

            <div class="main-advantages__item">
                <img src="images/main-advantages-item-5.svg" alt="">
                <p class="caps">24/7 user support</p>
                <p>Qualified specialists are just a click away and ready to answer your questions</p>
            </div>

            <div class="main-advantages__item">
                <img src="images/main-advantages-item-6.svg" alt="">
                <p class="caps">detailed analytics</p>
                <p>Access to the best market analysis and educational tools</p>
            </div>

            <div class="main-advantages__item">
                <img src="images/main-advantages-item-7.svg" alt="">
                <p class="caps">Variety of tools</p>
                <p>A wide selection of trading instruments, including stocks, currencies, and commodities</p>
            </div>
        </div>

        <a href="##" class="btn btn--center"><span>start trading</span></a>
    </div>
</section>