<section class="banner-1">
    <div class="container">
        <div class="banner-1__container">
            <div class="banner-1__box">
                <h2 class="caps">NewProject — a broker trusted by thousands of traders!</h2>
                <p>Join us and start trading today!</p>
                <a href="##" class="btn btn--arrow caps"><span>Start trading</span></a>
            </div>

            <picture>
                <source srcset="images/banner-1-image.avif">
                <source srcset="images/banner-1-image.webp">
                <img src="images/banner-1-image.png" alt="">
            </picture>
        </div>
    </div>
</section>