<section class="platform-device">
    <div class="container">
        <div class="platform-device__top">
            <div class="heading">
                <div class="h1">02</div>
                <h2>Trade seamlessly on any device</h2>
            </div>

            <h3>Web Trader for Browser</h3>

            <picture>
                <source srcset="images/platform-device-image.webp">
                <img src="images/platform-device-image.png" alt="">
            </picture>

            <p>Trade online with all types of trading operations, real-time quote updates, and constant access to technical analysis indicators.</p>

            <a href="##" class="btn btn--grid">Go to Web trader</a>
        </div>

        <div class="swiper swiper2">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <p>"Thanks to NewProject's educational materials, I started trading from scratch and now feel confident in the market"</p>
                    <div class="swiper2__author">
                        <img src="images/gloria.png" alt="">
                        <p>Gloria</p>
                    </div>
                </div>

                <div class="swiper-slide">
                    <p>"With NewProject, it’s easy to manage my investments. The platform is user-friendly and the support is always available"</p>
                    <div class="swiper2__author">
                        <img src="images/Jake.png" alt="">
                        <p>Jake</p>
                    </div>
                </div>

                <div class="swiper-slide">
                    <p>"Great trading platform, the mobile app works flawlessly and the analytics help make right decisions"</p>
                    <div class="swiper2__author">
                        <img src="images/Rose.png" alt="">
                        <p>Rose</p>
                    </div>
                </div>

                <div class="swiper-slide">
                    <p>"NewProject is a broker I've trusted for over 5 years. High service standards and low spreads make it the best choice for active trading"</p>
                    <div class="swiper2__author">
                        <img src="images/Dominic.png" alt="">
                        <p>Dominic</p>
                    </div>
                </div>

                <div class="swiper-slide">
                    <p>"NewProject offers excellent trading conditions. Fast transactions, a reliable platform and helpful educational materials have improved my results"</p>
                    <div class="swiper2__author">
                        <img src="images/Anna.png" alt="">
                        <p>Anna</p>
                    </div>
                </div>

                <div class="swiper-slide">
                    <p>"I started with NewProject without any experience, but thanks to the analytics and user-friendly interface, I quickly got the hang of it. Now I trade with confidence and see steady growth"</p>
                    <div class="swiper2__author">
                        <img src="images/Max.png" alt="">
                        <p>Max</p>
                    </div>
                </div>

                <div class="swiper-slide">
                    <p>"Trading with NewProject is a great experience: customer support is always at hand, withdrawals are processed without delay, and low fees make trading even more profitable"</p>
                    <div class="swiper2__author">
                        <img src="images/Emma.png" alt="">
                        <p>Emma</p>
                    </div>
                </div>

                <div class="swiper-slide">
                    <p>"I use NewProject to trade different markets. A wide range of instruments and advanced charts help me find the best opportunities"</p>
                    <div class="swiper2__author">
                        <img src="images/Alex.png" alt="">
                        <p>Alex</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="platform-device__desktop">
            <picture>
                <source srcset="images/platform-device-desktop.avif">
                <source srcset="images/platform-device-desktop.webp">
                <img src="images/platform-device-desktop.png" alt="">
            </picture>

            <div>
                <h2>For Desktop</h2>
                <p>A multifunctional, powerful and reliable application. The desktop version is a classic trading platform built with modern technology.</p>
                <a href="##" class="btn btn--grid">Download for Windows</a>
            </div>
        </div>

        <div class="platform-device__mobile">
            <div>
                <h2>For Mobile Devices</h2>
                <p>Trade actively and freely. Enjoy trading anywhere with our mobile app. Available for Android and iOS.</p>
                <a href="##" class="btn btn--grid">Download for Android</a>
            </div>

            <picture>
                <source srcset="images/platform-device-mobile.avif">
                <source srcset="images/platform-device-mobile.webp">
                <img src="images/platform-device-mobile.png" alt="">
            </picture>
        </div>
    </div>
</section>