<footer class="footer">
    <div class="container">
        <div class="footer__container">
            <div class="footer__info">
                <a href="/" class="footer__logo">VertexTrade</a>

                <div>
                    <a href="##" class="btn"><span>Open an account</span></a>
                    <div class="footer__contacts">
                        <p>PHONE:</p>
                        <a href="tel:+1 212 161 1995">+1 212 161 1995</a>

                        <p>E-MAIL:</p>
                        <a href="mailto:support@vertextrade.com">support@vertextrade.com</a>
                    </div>
                </div>

                <div class="footer__icons">
                    <img src="images/footer-icon-1.svg" alt="">
                    <img src="images/footer-icon-2.svg" alt="">
                    <img src="images/footer-icon-3.svg" alt="">
                    <img src="images/footer-icon-4.svg" alt="">
                    <img src="images/footer-icon-5.svg" alt="">
                </div>
            </div>

            <nav class="footer__nav">
                <!--=include menu.html -->

                <ul class="menu">
                    <li class="menu-item">
                        <a href="##">Documents</a>

                        <ul class="sub-menu">
                            <li class="menu-item"><a href="##">Client Agreement</a></li>
                            <li class="menu-item"><a href="##">Risk Notice</a></li>
                            <li class="menu-item"><a href="##">KYC Policy</a></li>
                            <li class="menu-item"><a href="##">AML Policy</a></li>
                            <li class="menu-item"><a href="##">Refund Policy</a></li>
                            <li class="menu-item"><a href="##">Privacy Policy</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>

        <p>Risk Notice: Trading Forex and CFDs is a highly speculative activity that is not suitable for every investor. You can suffer both partial and total losses of your capital, so we advise you not to invest funds that you cannot risk. Please be aware of the significant dangers associated with leverage. We strongly recommend that you carefully read our company's terms and conditions before using our services.</p>
        <p class="copyright">All rights reserved. VertexTrade 2025</p>
    </div>
</footer>

<div class="upButton"></div>

<div class="cookies">
    <p class="cookies__info"></p>
    <button class="btn btn--white cookies--close"></button>
</div>

<script defer src="js/main.min.js"></script>

</body>

</html>