<section class="main-form">
    <div class="container">
        <div class="heading">
            <div class="h1">06</div>
            <h2>Feel free to message us anytime</h2>
        </div>

        <div class="main-form__container">
            <div class="main-form__box">
                <div class="h2 caps">Have questions?</div>
                <div class="h2 caps">Contact us in any way that works best for you</div>

                <div class="main-form__info">
                    <p>Phone:</p>
                    <a href="tel:+1 212 161 1995">+1 212 161 1995</a>

                    <p>E-mail:</p>
                    <a href="mailto:support@vertextrade.com">support@vertextrade.com</a>

                    <p>Address:</p>
                    <address>406 8th Ave, New York, NY 10001, USA</address>
                </div>
            </div>

            <form action="">
                <p><span><input type="text" placeholder="Name"></span></p>
                <p><span><input type="text" placeholder="E-mail"></span></p>
                <p><span><textarea name="" id="" placeholder="Your message"></textarea></span></p>

                <div class="form-submit">
                    <p><span><input type="submit" value="SEND"></span></p>
                </div>

                <p>By clicking the "Send" button, you agree to the <a href="##">Privacy Policy</a></p>
            </form>
        </div>
    </div>
</section>