<section class="hero">
    <div class="container">
        <p class="hero__heading"></p>
        
        <div class="platform-hero__box">
            <h1 class="hero__title"></h1>
            <p class="hero__info"></p>
        </div>

        <a href="##" class="hero__btn btn btn--center"><span></span></a>
        
        <div class="hero__box" style="display: none;">
            <picture>
                <source srcset="images/hero-contacts.avif">
                <source srcset="images/hero-contacts.webp">
                <img src="images/hero-contacts.png" alt="">
            </picture>
        </div>
    </div>
</section>