<ul class="menu">
    <li class="menu-item">
        <a href="##">Trading</a>

        <ul class="sub-menu">
            <li class="menu-item"><a href="">Platform</a></li>
            <li class="menu-item"><a href="">Trading terms</a></li>
            <li class="menu-item"><a href="">Trading instriments</a></li>
        </ul>
    </li>

    <li class="menu-item">
        <a href="##">Analytics</a>

        <ul class="sub-menu">
            <li class="menu-item"><a href="">Market overview</a></li>
            <li class="menu-item"><a href="">Market analytics</a></li>
            <li class="menu-item"><a href="">Market news</a></li>
            <li class="menu-item"><a href="">Market forecasts</a></li>
            <li class="menu-item"><a href="">Economic calendar</a></li>
        </ul>
    </li>

    <li class="menu-item">
        <a href="##">Company</a>

        <ul class="sub-menu">
            <li class="menu-item"><a href="">About us</a></li>
            <li class="menu-item"><a href="">Contacts</a></li>
        </ul>
    </li>
</ul>