<section class="platform-personal">
    <div class="container">
        <div class="heading">
            <div class="h1">03</div>
            <h2>Personal Trader's Room</h2>
        </div>

        <div class="platform-personal__box">
            <picture>
                <source srcset="images/platform-personal.avif">
                <source srcset="images/platform-personal.webp">
                <img src="images/platform-personal.png" alt="">
            </picture>

            <div>
                <p>Sign up to the Trader's Room for instant access to account replenishment on the VertexTrade platform.</p>
                <a href="##" class="btn btn--grid">sign up</a>
            </div>
        </div>
    </div>
</section>