<section class="main-rate">
    <div class="container">
        <div class="main-rate__container">

            <div class="swiper swiper-rate">
                <div class="swiper-wrapper">
                    <div class="swiper-slide main-rate__item">
                        <div class="main-rate__left">
                            <img src="images/main-rate-icon-1.svg" alt="">
                            <p class="main-rate__title">Ethereum</p>
                            <p class="main-rate__heading">ETH</p>
                        </div>

                        <div class="main-rate__right">
                            <p class="main-rate__amound">$2629.38</p>
                            <p class="main-rate__rate green">+0.227%</p>
                        </div>
                    </div>

                    <div class="swiper-slide main-rate__item">
                        <div class="main-rate__left">
                            <img src="images/main-rate-icon-2.svg" alt="">
                            <p class="main-rate__title">Tether</p>
                            <p class="main-rate__heading">USDT</p>
                        </div>

                        <div class="main-rate__right">
                            <p class="main-rate__amound">$1.00</p>
                            <p class="main-rate__rate red">-0.007%</p>
                        </div>
                    </div>

                    <div class="swiper-slide main-rate__item">
                        <div class="main-rate__left">
                            <img src="images/main-rate-icon-3.svg" alt="">
                            <p class="main-rate__title">Bitcoin</p>
                            <p class="main-rate__heading">BTC</p>
                        </div>

                        <div class="main-rate__right">
                            <p class="main-rate__amound">$67 795</p>
                            <p class="main-rate__rate green">+0.82%</p>
                        </div>
                    </div>

                    <div class="swiper-slide main-rate__item">
                        <div class="main-rate__left">
                            <img src="images/main-rate-icon-4.svg" alt="">
                            <p class="main-rate__title">XRP</p>
                            <p class="main-rate__heading">XRP</p>
                        </div>

                        <div class="main-rate__right">
                            <p class="main-rate__amound">$0.55</p>
                            <p class="main-rate__rate red">-1.42%</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- <div class="main-rate__list">
                <div class="main-rate__item">
                    <div class="main-rate__left">
                        <img src="images/main-rate-icon-1.svg" alt="">
                        <p class="main-rate__title">Ethereum</p>
                        <p class="main-rate__heading">ETH</p>
                    </div>

                    <div class="main-rate__right">
                        <p class="main-rate__amound">$2629.38</p>
                        <p class="main-rate__rate green">+0.227%</p>
                    </div>
                </div>

                <div class="main-rate__item">
                    <div class="main-rate__left">
                        <img src="images/main-rate-icon-2.svg" alt="">
                        <p class="main-rate__title">Tether</p>
                        <p class="main-rate__heading">USDT</p>
                    </div>

                    <div class="main-rate__right">
                        <p class="main-rate__amound">$1.00</p>
                        <p class="main-rate__rate red">-0.007%</p>
                    </div>
                </div>

                <div class="main-rate__item">
                    <div class="main-rate__left">
                        <img src="images/main-rate-icon-3.svg" alt="">
                        <p class="main-rate__title">Bitcoin</p>
                        <p class="main-rate__heading">BTC</p>
                    </div>

                    <div class="main-rate__right">
                        <p class="main-rate__amound">$67 795</p>
                        <p class="main-rate__rate green">+0.82%</p>
                    </div>
                </div>

                <div class="main-rate__item">
                    <div class="main-rate__left">
                        <img src="images/main-rate-icon-4.svg" alt="">
                        <p class="main-rate__title">XRP</p>
                        <p class="main-rate__heading">XRP</p>
                    </div>

                    <div class="main-rate__right">
                        <p class="main-rate__amound">$0.55</p>
                        <p class="main-rate__rate red">-1.42%</p>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</section>