<section class="terms-steps">
    <div class="container">
        <div class="heading">
            <div class="h1">03</div>
            <h2>Follow Simple Steps to Start Trading</h2>
        </div>
        <div class="main-steps__list">
            <div class="main-steps__item">
                <p>Sign up to our platform and open a trading account</p>
            </div>

            <div class="main-steps__arrow-bottom"></div>

            <div class="main-steps__item">
                <p>Choose the method of depositing funds from several available options</p>
            </div>

            <div class="main-steps__arrow-top"></div>

            <div class="main-steps__item">
                <p>Go to Web Trader from our website, log in, and start earning</p>
            </div>
        </div>

        <a href="##" class="btn btn--center"><span>Open an account</span></a>
    </div>
</section>