<section class="main-plans">
    <div class="container">
        <div class="heading">
            <div class="h1">04</div>
            <h2>Explore Our Account Plans</h2>
        </div>

        <div class="table-border">
            <div class="table-black">
                <table>
                    <tbody>
                        <tr>
                            <th>
                                <h3>account types</h3>
                                <p>Choose your trading account and start earning profits</p>
                            </th>

                            <th>
                                <h3>Standard</h3>
                                <a href="##" class="btn caps">Open an account</a>
                            </th>

                            <th>
                                <h3>Pro</h3>
                                <a href="##" class="btn caps">Open an account</a>
                            </th>

                            <th>
                                <h3>VIP</h3>
                                <a href="##" class="btn caps">Open an account</a>
                            </th>
                        </tr>

                        <tr>
                            <td>Minimum first deposit</td>
                            <td>100 USD / EUR</td>
                            <td>500 USD / EUR</td>
                            <td>1000 USD / EUR</td>
                        </tr>

                        <tr>
                            <td>Access to the Forex market</td>
                            <td><img src="images/check.svg" alt=""></td>
                            <td><img src="images/check.svg" alt=""></td>
                            <td><img src="images/check.svg" alt=""></td>
                        </tr>

                        <tr>
                            <td>Access to the commodity market</td>
                            <td></td>
                            <td><img src="images/check.svg" alt=""></td>
                            <td><img src="images/check.svg" alt=""></td>
                        </tr>

                        <tr>
                            <td>Access to the stock market</td>
                            <td></td>
                            <td><img src="images/check.svg" alt=""></td>
                            <td><img src="images/check.svg" alt=""></td>
                        </tr>

                        <tr>
                            <td>Personal investment plan</td>
                            <td></td>
                            <td></td>
                            <td><img src="images/check.svg" alt=""></td>
                        </tr>

                        <tr>
                            <td>Maximum leverage</td>
                            <td colspan="2">Determined during registration based on experience and knowledge</td>
                            <td>1:10–1300</td>
                        </tr>

                        <tr>
                            <td>Trading instruments</td>
                            <td colspan="3">28 CFDs on Forex, CFDs on Metals, CFDs on US Stocks, CFDs on Indices, CFDs on Oil</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>